@import "../../styles/mixin.scss";
.loginWrap {
  @include flex(center, auto);
  margin-top: 280px;
  .loginBox {
    @include flex(auto, center);
    width: 400px;
    flex-direction: column;
    .loginText {
      width: 400px;
      margin-bottom: 18px;
      padding-bottom: 20px;
      border-bottom: 4px solid #000;
      font-size: 44px;
      text-align: center;
      font-weight: 500;
    } //loginText

    form {
      width: 100%;
      input {
        display: block;
        width: 100%;
        height: 48px;
        margin-bottom: 7px;
        padding: 0 14px;
        color: #1a1a1a;
        border: 1px solid #d4d4d4;
        outline: none;
        border-radius: 2px;
        font-weight: 500;
        &:focus {
          outline: 1px solid #000;
        }
      }

      .loginAlert {
        margin-top: 5px;
        color: rgb(255, 72, 0);
        font-size: 13px;
        line-height: 20px;
      }
      button {
        width: 100%;
        min-width: 40px;
        height: 56px;
        min-height: 25px;
        margin: 20px 0 0;
        color: #fff;
        border: none;
        font-size: 16px;
        cursor: pointer;
        background-color: #000;
        border-radius: 2px;
        line-height: 56px;
        font-weight: 600;
      }
    } //form

    .goToSignup {
      display: block;
      width: 100%;
      height: 56px;
      margin-top: 195px;
      color: #1d1d1d;
      border: 1px solid #5d5d5d;
      font-size: 14px;
      text-align: center;
      border-radius: 28px;
      font-weight: 600;
      line-height: 56px;
      text-decoration: none;
    }
  } //loginBox
} //loginWrap
