@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* Top nav */

@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

Nav {
  display: fixed;
  z-index: 1;
  position: relative;
  width: 100vw;
  height: auto;
  font-family: "Poppins", "Roboto", "Noto Sans KRㅜ", sans-serif;

  .unsetLink {
    text-decoration: none;
    color: #323237;
  }

  .navContent {
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;

    .Logo {
      width: 7rem;
    }

    .navContentBox {
      display: flex;
      font-size: 0.8rem;
      font-weight: 500;
      align-items: center;
      gap: 1rem;

      img {
        width: 0.8rem;
        margin-right: 0.3rem;
      }
    }
  }

  .navCategoriesWrap {
    display: flex;
    padding: 0.5rem 4rem;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    border-bottom: 2px solid #f2f2f2;

    .navCategories {
      display: flex;
    }

    ul {
      gap: 1rem;
      cursor: default;

      li {
        font-size: 1.5rem;
        border: none;
        border-bottom: 0.25rem solid transparent;

        &:hover {
          border-bottom: 0.25rem solid black;
        }
      }
    }

    .searchIcon {
      width: 2rem;
      margin-left: 57rem;
    }
  }
}

/* Nav search tap */

.navSearch {
  position: absolute;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 11;
  flex-direction: column;
  align-content: space-between;
  align-items: flex-end;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeOut 0.2s ease-in-out 0s normal forwards;

  .searchCloseBtn {
    width: 3rem;
    margin-bottom: 3rem;
  }

  .sideSearchBox {
    align-items: center;

    .inputContainer {
      position: relative;
      border-bottom: 0.5rem solid #000;
      width: 40rem;
      height: 4rem;

      .navSearchInput {
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        font-weight: 500;
      }

      .searchIcon {
        position: absolute;
        right: 0;
        height: 3rem;
      }
    }

    .searchLank {
      margin: 1rem 0 6rem;

      .topTopic {
        font-weight: 700;
        font-size: 1.6rem;
      }

      .topKeyword {
        li {
          padding: 1.4rem 0 0;
        }
      }
    }
  }
}

/* Hover menu */

.hoverMenu {
  display: flex;
  font-size: 1rem;
  color: #323237;
  animation: fadeOut 0.1s ease-in-out 0s normal forwards;
  background-color: white;
  border-bottom: 2px solid #f2f2f2;
  height: 13rem;

  .hovRow1 {
    padding: 0.5rem 4rem;
  }

  .categories {
    font-weight: 800;
    font-size: 0.8rem;

    .subcategory01 {
      font-weight: 800;
    }

    li {
      margin: 1rem 0;
      font-weight: 400;

      &:hover {
        font-weight: 900;
      }
    }
  }
}
